<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gamer Zone</title>
    {% load static %}
    {% block css %}
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'core/'%}diseños/icono_pagina.jpg" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'core/'%}css/estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="login.html">
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Inicio</a>
            <a href="#">Comunidad</a>
            <a href="#">Novedades</a>
            <a href="{% url 'donaciones' %}">Donaciones</a>
            <a href="{% url 'login' %}">Cerrar sesion</a>

            
        </nav>
        <section class="textos-header">
            <h1>Bienvenido a Gamer Zone</h1>
            <h2>aqui encontraras todo lo que necesitas para convertirte en un Gamer</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
 
        {% block contenido %}
    
        {% endblock %}
        
    <footer>
        <div class="contenedor-footer">
            <h2 class="titulo">Contacto</h2>
            <div class="content-foo">
                
                <h4>Celular</h4>
                <p>912345678</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>br.vilo@alumnos.duoc.cl</p>
            </div>
            <div class="content-foo">
                <h4>Ubicacion</h4>
                <p>Los Alamos, Chile</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Brayan Vilo Design | Ingeniero en informatica </h2>
    </footer>

    {% block javascript %}
    
    {% endblock %}
    <script src="{% static 'core/'%}js/jquery-3.1.1.min.js"></script>    
    <script src="{% static 'core/'%}js/main.js"></script> 
</body>

</html>