{% load static %}

{% block css %}
<link rel="stylesheet" href="css/estiloDonar.css">
{% endblock %}

{% block javascript %}
<script src="js/jquery-3.1.1.min.js"></script>    
<script src="js/main.js"></script>
{% endblock %}


{% block contenido %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login | Gamer Zone |</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'core/'%}css/estiloDonar.css">
    <link rel="stylesheet" href="login.html">
</head>
<body>

    <div class="contenedor-donar">
    
    <div>   
        </div>
        
        <div class="formulario">
            <h2>Donaciones</h2>
            <form action="#">
                <input type="text" placeholder="Nombres" required>
                
                <input type="password" placeholder="Apellidos" required>
                
                <input type="number" min="18" max="100" placeholder="Edad" required>
                
                <input type="text" placeholder="Correo Electronico" required>
                
                <input type="submit" value="Donar">           
            </form>
        </div>
    </div>
    <script src="{% static 'core/'%}js/jquery-3.1.1.min.js"></script>    
    <script src="{% static 'core/'%}js/main.js"></script> 
</body>
</html>  
{% endblock %}