{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}


         <section class="contenedor sobre-nosotros">
            <h2 class="titulo">¿Quienes somos?</h2>
            <div class="contenedor-sobre-nosotros">
                
               <img src="{% static 'core/'%}diseños/logo_secundario.png" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Gamer Zone</h3>
                    <p> En Gamer Zone somos tan gamers como tú, por eso sabemos qué necesitas para jugar a otro nivel. Sí, estamos aquí para ganar contigo, porque si algo nos importa es que disfrutes cada instante de tus partidas y que mejor que jugar junto a una gran comunidad de gamer con los cuales podras compartir momentos epico y aprender muchas cosas relacionadas con el mundo gamer.
                
                    <h3><span>2</span>Misión:</h3>
                    <p>Ser parte de cada momento emocionante que vivas como gamer y ademas de eso queremos ayudarte a mejorar cada dia en los distintos juegos y plataformas, para ellos contaremos a lo largo del tiempo con toda la disponibilidad y fiabilidad para que puedas super tus niveles. Somos Gamer Zone, somos una familia.</p>
                    
                    <h3><span>3</span>Vision:</h3>
                    <p>Llegar a todos los gamers que buscan compartir sus conocimientos, experiencias y amistad e incluso a diferentes partes del mundo donde se encuentre un gamer, con el mejor servicio a clientes, con los juegos y noticias de videojuegos más nuevos y actualizados,  principalmente con la mejor comodidad y seguridad del mundo.</p>
                </div>
            </div>
        
            <section class="motivation">
                <div class="contenedor_moti">
                    <h2 class="titulo">
                        <br> Video motivacional de la semana</h2>
                    <div class="video">
                    <div style="text-align:center;">
                    
                    <iframe width="560" height="300" src="{% static 'core/'%}diseños/MOTIVACION GAMER ULTIMATE.mp4" frameborder="30"  allow="accelerometer;  encrypted-media; gyroscope; picture-in-picture" ></iframe>
                    <!-- inicio automatico con autoplay; despues de allow="accelerometer; -->
                    
        
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Destacados</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="{% static 'core/'%}diseños/chat_gamers.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Chatea con gamers 
                                <br> de todo el mundo</p>
                        </div>
                    </div>
                    
                    <div class="imagen-port">
                        <img src="{% static 'core/'%}diseños/Highlights.png" alt="">
                        <div class="hover-galeria">
                            <p>Highlights</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{% static 'core/'%}diseños/momentos_divertidos.png" alt="">
                        <div class="hover-galeria">
                            <p>Momentos divertidos</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="{% static 'core/'%}diseños/GamerTips.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Tips para jugadores</p>
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>
        <section class="clientes contenedor">
            <h2 class="titulo">Opiniones destacadas</h2>
            <div class="cards">
                <div class="card">
                    <img src="{% static 'core/'%}diseños/rubius_fake.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Rubius</h4>
                        <p>Esta pagina es realmente expectacular</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'core/'%}diseños/willyrex_fake.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>WillyRex</h4>
                        <p>Esta pagina es asombrosa y viene muy bien para la comunidad gamer</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'core/'%}diseños/dylantero_fake.jpg" alt="">
                    <div class="contenido-texto-card">
                        <h4>Dylantero</h4>
                        <p>Me encanto el diseño y la calidad del desarrollador</p>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}